
{% load static %}

<nav class="navbar navbar-expand-sm navbar-light position-fixed w-100 menu" >
   <div class="container-fluid ">

       <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
           data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
           aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse"></div>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto nav-hover">
               <li class="nav-item active">
                   <a class="nav-link text-danger " href=" {% url 'home' %} ">
                       Home
                       <span class="sr-only">
                           (current)
                       </span>
                   </a>
               </li>
               <li class="nav-item grow">
                   <a class="nav-link text-dark" href="#">
                       About
                   </a>
               </li>
               <li class="nav-item ">
                   <a class="nav-link text-dark" href="#">
                       Resume
                   </a>
               </li>
               <li class="nav-item ">
                   <a class="nav-link text-dark " href="#">
                       Works
                   </a>
               </li>
               <li class="nav-item grow ">
                   <a class="nav-link text-dark " href="#">
                       Contact
                   </a>
               </li>

           </ul>
       </div>
   </div>
</nav>