<div class="container">
    <form method="POST" action=" {% url 'pay' %} ">

        {% csrf_token %}


        <div class="form-group">
            <input type="number" id="number" name="number" class=" form-control m-1" placeholder="Phone Number*">
        </div>

        <div class="form-group">
            <input type="number" id="number" name="amount" class=" form-control m-1" placeholder="Amount">
        </div>


        <button type="submit" class="btn btn-secondary btn-lg">Process</button>

    </form>
</div>