{% extends 'apex/admin/layouts/admin-base.html' %}

{% load static %}

{% block 'content' %}

<div class="container-fluid">


    <h3 class="mx-3 font-weight-bold"> Feedback ({{feedback_list|length}}) </h3>

    <h5 class="text-center mt-4 ">Your Messages </h5>

    <div class="row">
        
        {% for feedback in feedback_list %}

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card m-2 ">
                <div class="card-body">
                    
                    <small class="font-weight-bold">  {{feedback.id}} </small>

                    <span class="ml-auto">
                        <a href=" {% url 'delete_feedback' feedback.id %} " title="Delete Feedback" class="btn btn-danger btn-sm ">
                            <i class="fa fa-trash fa-lg"></i>
                        </a>
                    </span>
                    
                    <ul style="list-style-type: none;" >
                        <li class="ml-2" >
                            Feedback Received From:
                            <span class="font-weight-bold text-success" > {{feedback.first_name}} {{feedback.last_name}} </span>
                        </li>
                        <li class="ml-2">
                            Email: 
                            <span class=" text-success font-weight-bold "> {{feedback.email}} </span>
                        </li>
                        <li class="ml-2">
                            Phone Number: 
                            <span class="text-success"> {{feedback.phone_number}} </span>
                        </li>
                        <li class="ml-2">
                            House Number:
                            <span class=""> {{feedback.house_number}} </span>                            
                        </li>
                    </ul>
                
                    
                    <p> {{feedback.message}} </p>

                    <p class="text-success"> {{feedback.created_at}}</p>
                   
                </div>
                
            </div>
        </div>

        {% endfor %}

    </div>
   
        
       
</div>


{% endblock %}

{%block 'scripts' %}

<!-- remained empty -->

{% endblock %}