{% extends 'apex/admin/layouts/admin-base.html' %}

{% load static %}

{% block 'content' %}

<div class="container-fluid">


    <h3 class="mx-3 "> Feedback ({{feedback_list|length}}) </h3>

    <div class="row justify-content-center">

        <div class="col-lg-10">

            <h5 class="text-center ">Your Messages</h5>
            
            <div class="card-body">

                <table class="table table-striped  table-bordered">
                    <thead>
                        <tr>
                            <td>id</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Email</td>
                            <td>Phone Number</td>
                            <td>Message</td>
                            <td>Posted at</td>
                            <td>Action</td>


                        </tr>
                    </thead>

                    <tbody>

                        {% for feedback in feedback_list %}

                        <tr>
                            <td>{{feedback.id}}</td>
                            <td>{{feedback.first_name}}</td>
                            <td>{{feedback.last_name}}</td>
                            <td>{{feedback.email}}</td>
                            <td>{{feedback.phone_number}}</td>
                            <td>{{feedback.message}}</td>
                            <td>{{feedback.created_at}}</td>
                            <td>
                                <a href=" {% url 'delete_feedback' feedback.id %} " class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i>
                                </a>
                                
                            </td>

                            
                        </tr>

                        {% endfor %}
                         
                    </tbody>

                </table>

            </div>
        </div>
    </div>

</div>










{% endblock %}

{%block 'scripts' %}

<!-- remaind empty -->

{% endblock %}