{% extends 'apex/admin/layouts/admin-base.html' %}

{% load static %}

{% block 'content' %}

<div class="container-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="row">
                <h3 class="mt-2 font-weight-bold">
                Invoice's ({{ invoice_list|length }}) </h3>
              <form class="form-inline my-2 my-lg-1 ml-auto">
                  {% csrf_token %}

                <input
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    name='search'
                    value="{{search_term}}">
                <input type="hidden" name="clicked" value="outbox">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

             </form>

                 <a class="btn btn-success my-3 ml-auto" href="{% url 'sendInvoice' %}">
                     Send Invoices
                </a>

                <a class="btn btn-success my-3  ml-auto" href="{% url 'create_invoice' %}">
                     + Add New Invoice
                </a>

            </div>

{#            <h5>Date: <span class="font-weight-bold">{% now 'Y/m/d' %}</span></h5>#}
{#            <h5>House Number: {{ house.house_number }}</h5>#}

        <div class="row justify-content-right">

            <div class="card-body">

                <table class="table table-striped table-bordered">

                    <thead>
                        <tr>

                        <th>#</th>
                        <th>H/No</th>
                        <th>Title</th>
                        <th>Client Name</th>
                        <th>Phone Number</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>View</th>


                        </tr>
                    </thead>

                    <tbody>

                    {% for invoice in invoice_list %}

                    <tr>

                    <td>{{ invoice.invoice_no }}</td>
                    <td>{{ invoice.house_number }}</td>
                    <td>{{ invoice.title }}</td>
                    <td>{{ our_invoice.profile.name }}</td>
                    <td>{{ invoice.profile.phone_number }}</td>
                    <td>{{ invoice.due_date }}</td>
                    <td>{{ invoice.status }}</td>

                    <td>
                        <a href="{% url 'update_invoice' %}" title="View Invoice" class="btn btn-success btn-sm">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>

                    </tr>

                        {% empty %}

                        <tr>

                        <td colspan="10" class="text-center">No Invoice's Yet</td>

                        </tr>

                    {% endfor %}

                    </tbody>

                </table>
            </div>


        </div>

    </div>
</div>



{% endblock %}

{% block 'scripts' %}

<!-- remained empty -->

{% endblock 'scripts' %}