{% extends 'apex/admin/layouts/admin-base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block 'content' %}


<div class="container">

    <h3 class="mx-3 my-3 font-weight-bold">
    <img src="https://key0.cc/images/small/4718_c64bc920cfa6e3dcc998377cbe9c24c4.png" class="mr-3" title="Go to Previous Page" width="30px" height="30px" onclick="history.back()">
        Tenant Invoices</h3>

    <div class="row justify-content-center">

        <div class="col-lg-8 col-md-8 col-sm-12">

            <div class="card-body">


            </div>
        </div>
    </div>

</div>

{% endblock %}

{%block 'scripts' %}

<!-- remained empty -->

{% endblock %}