{% extends 'apex/admin/layouts/admin-base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block 'content' %}


<div class="container">

    <h3 class="mx-3 my-3"><i class="fa fa-star-o mr-2" aria-hidden="true"></i>
        Update <span class="text-success">{{ profile.name}}</span> Details<i class="fa fa-star-o mx-2" aria-hidden="true"></i>
         </h3>

    <div class="row justify-content-center">

        <div class="col-lg-8 col-md-8 col-sm-12">

            <div class="card-header">

                    <h5 class="text-center">Tenant Details | {{ profile.house_number }}</h5>

            </div>

            <div class="card-body">

                            <form method="POST">

                                {% csrf_token %}


                                    {% for hidden in form.hidden_fields %}

                                        {{ hidden }}
                                        {% endfor %}

                                        {% for field in form.visible_fields %}
                                        <div class="form-group">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field|add_class:'form-control' }}
                                            {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}


                                <button type="submit" onclick="ShowAlert"  class="btn btn-secondary btn-lg">Submit</button>

                            </form>



            </div>
        </div>
    </div>

</div>

{% endblock %}

{%block 'scripts' %}
    <script>
    function  ShowAlert(){

    Notiflix.Notify.Init({});
    Notiflix.Notify.Success('Thank you for your message • It has been sent.');

    }



    </script>
<!-- remained empty -->

{% endblock %}