<nav id="sidebar">
    <div class="sidebar-header">
        <h3 class="text-center my-3 font-weight-bold font-italic"> The Apex Apartments.</h3>
    </div>

    <hr class=" mt-0 bg-dark">

    <ul class="list-unstyled components">

        <li class="my-2 " >
            <a href="#" ><i class="fa fa-home mr-2 " aria-hidden="true"></i>Home </a>
        </li>

        <li class="my-2 ">
            <a href="#">
                <i class="fa fa-money mr-2 " aria-hidden="true"></i>Accounts</a>
        </li>
        
        <li class="my-2 ">
            <a href=" {% url 'profile' %} ">
                <i class="fa fa-user-o mr-2 " aria-hidden="true"></i>Profile</a>
        </li>
        
        <li class="my-2 ">
            <a href="#">
                <i class="fa fa-files-o mr-2 " aria-hidden="true"></i>Documents</a>
        </li>

        <li class="my-2 ">
            <a href="{% url 'feedback' %}">
                <i class="fa fa-comments-o mr-2 " aria-hidden="true"></i>Feedback</a>
        </li>

    </ul>
</nav>