<nav id="sidebar">
    <div class="sidebar-header">
        <h3 class="text-center my-3 font-weight-bold font-italic"> The Apex Apartments.</h3>
    </div>

    <hr class=" mt-0 bg-dark">

    <ul class="list-unstyled components">
        <li class="my-2 " >
            <a href="#" ><i class="fa fa-tachometer mr-2 " aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="my-2 ">
            <a href="#">
                <i class="fa fa-tags mr-2 " aria-hidden="true"></i>Categories</a>
        </li>
        <li class="my-2 ">
            <a href="#">
                <i class="fa fa-files-o mr-2 " aria-hidden="true"></i>
                Post</a>
        </li>
        <li class="my-2 ">
            <a href="{% url 'feedback' %}">
                <i class="fa fa-comments-o mr-2 " aria-hidden="true"></i>Feedback</a>
        </li>
        
    </ul>
</nav>