<nav id="sidebar">
    <div class="sidebar-header">
        <h3 class="text-center my-3 font-weight-bold font-italic"> The Apex Apartments.</h3>
    </div>

    <hr class=" mt-0 bg-dark">

    <ul class="list-unstyled components">

        <li class="my-2 " >
            <a href="#" ><i class="fa fa-home mr-2 " aria-hidden="true"></i>Dashboard</a>
        </li>

        <li class="my-2 ">
            <a href="{% url 'account' %}">
                <i class="fa fa-money mr-2 " aria-hidden="true"></i>Accounts</a>
        </li>

           <li class="my-2 ">
            <a href="{% url 'invoice' %}">
                <i class="fa fa-money mr-2 " aria-hidden="true"></i>Invoices</a>
        </li>


         <li class="my-2 ">
            <a href="{% url 'profile'  %}">
                 <i class="fa fa-user mr-2"></i>Client Profiles
            </a>
        </li>

         <li class="my-2 ">
            <a href="{% url 'house' %}">
                <i class="fa fa-home mr-2" aria-hidden="true"></i>House Details
            </a>
        </li>


        <li class="my-2 ">
            <a href="{% url 'payment' %}">
                <i class="fa fa-money mr-2 " aria-hidden="true"></i>Payments</a>
        </li>

        
        <li class="my-2 ">
            <a href=" {% url 'outbox' %} ">
                <i class="fa fa-files-o mr-2 " aria-hidden="true"></i>Sms Reports</a>
        </li>

        <li class="my-2 ">
            <a href="{% url 'feedback' %}">
                <i class="fa fa-comments mr-2 " aria-hidden="true"></i>Feedback</a>
        </li>

        <h5 class="ml-5 font text-muted text-capitalize">SETTINGS.</h5>

        <li class="my-2 ">
            <a href="#">
                <i class="fa fa-comments mr-2 " aria-hidden="true"></i>Users</a>
        </li>

    </ul>
</nav>